[submodule "packages/awesome-tab"]
	path = packages/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab
[submodule "packages/all-the-icons.el"]
	path = packages/all-the-icons.el
	url = https://github.com/domtronn/all-the-icons.el
[submodule "awesome-pair"]
	path = awesome-pair
	url = https://github.com/manateelazycat/awesome-pair
[submodule "packages/awesome-pair"]
	path = packages/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair
[submodule "packages/nox"]
	path = packages/nox
	url = https://github.com/manateelazycat/nox
[submodule "packages/redguardtoo/company-ctags"]
	path = packages/redguardtoo/company-ctags
	url = https://github.com/redguardtoo/company-ctags
[submodule "packages/lwl/goenv"]
	path = packages/lwl/goenv
	url = https://github.com/lwllvyb/goenv
[submodule "packages/lazyflymake"]
	path = packages/lazyflymake
	url = https://github.com/redguardtoo/lazyflymake
[submodule "packages/color-rg"]
	path = packages/color-rg
	url = https://github.com/manateelazycat/color-rg
[submodule "packages/ob-rust"]
	path = packages/ob-rust
	url = //github.com/micanzhang/ob-rust
[submodule "packages/emacs-chocolate-theme"]
	path = packages/emacs-chocolate-theme
	url = https://github.com/SavchenkoValeriy/emacs-chocolate-theme
[submodule "packages/snails"]
	path = packages/snails
	url = https://github.com/manateelazycat/snails
