[submodule "packages/awesome-tab"]
	path = packages/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab
[submodule "packages/all-the-icons.el"]
	path = packages/all-the-icons.el
	url = https://github.com/domtronn/all-the-icons.el
[submodule "packages/goenv"]
	path = packages/goenv
	url = https://github.com/lwllvyb/goenv
[submodule "awesome-pair"]
	path = awesome-pair
	url = https://github.com/manateelazycat/awesome-pair
[submodule "packages/awesome-pair"]
	path = packages/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair
[submodule "packages/nox"]
	path = packages/nox
	url = https://github.com/manateelazycat/nox
